body {
    background-color: bisque;


}

#div1
{
    height: 75px;
    width: 100%;
    border-radius: 10px;
    background-color: darkgoldenrod;


}

ul{
    list-style-type: none;
    padding: 30px 50px;
}

li{
    display: inline;
}

a{
    float: right;
    text-decoration: none;
}

a:link {
    color: wheat;
}
a:visited {
    color: burlywood;

}

a:hover {
    color: white;

}

a:active {
    color: antiquewhite;

}

#img1
{
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

#div2 {
    height: 900px;
    width: 100%;
    border-radius: 10px;
}
#div3 {
    height: 898px;
    width: 20%;
    border-color: goldenrod;
    background-color: goldenrod;
    border-radius: 10px;
    position: absolute;
}
#div4
{
    height:50px;
    width:100%;
    border-radius: 10px;
    background-color: darkgoldenrod;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-family: cursive;
}
#ul1
{
list-style-type: none;
    padding:90px 40%;

}






.a1
{
    clear:both;
    font-family: cursive;
    font-size: larger;

}
.a1:link {
    color: burlywood;
}
.a1:visited {
    color: brown;

}

.a1:hover {
    color: white;

}

.a1:active {
    color: antiquewhite;

}

.b{
    background: url("images/1.jpg");

    background-size: cover;
    background-repeat: no-repeat;
}

.d{
    height: 1000px;
    width: 1500px;
    margin: 30px 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity:0.6;
    filter:alpha(opacity=60);
}



.pa
{
    margin: 5%;
    font-weight: bold;
    color: #000000;
    font-family: cursive;
}

.h1
{
    font-family: cursive;
    color: black;
    text-align: center;
}

.i{
    margin: 80px;
    padding: 20px;
    border: 1px solid #000000;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

.i img {
    display: inline;
    margin: 5px;
    border: 1px solid #000000;
}

.i a:hover img {
    border: 1px solid brown;
}

.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
.av
{
    padding-top: 80px;
    padding-left:550px;

}
address,h3
{
    text-align: center;
}

#div5
{
    height: 895px;
    width: 79%;

    border-radius: 10px;
    float: right;
    position: absolute;
    /* top: -530px; */
    top: 600px;
    left: 327px;
}

#div6
{
    height: 328px;
    width: 71%;
    background-color: darkgoldenrod;
    position: absolute;
    right: 90px;
    left: 46px;
    top: 70px;
    text-align: center;

}

#i1{
    position: relative;
    top: 480px;
    left: 20px;
    width: 90%;
    height: 300px;

}


iframe {
    -ms-transform:scale(0.80);
    -moz-transform:scale(0.80);
    -o-transform: scale(0.80);
    -webkit-transform: scale(0.80);
    transform:scale(0.80);

}
iframe {
    position: relative;
    top: -112px;
    left: -157px;
    /* right: 888px; */
    height: 1118px;
    width: 1561px;
}
/*#wrapper {
    overflow:hidden;
    border:1px solid orange;
    height:722px;
    width:662px;
}*/


