body {
    background-color: bisque;


}

#div1
{
    height: 75px;
    width: 100%;
    border-radius: 10px;
    background-color: darkgoldenrod;


}

ul{
    list-style-type: none;
    padding: 30px 50px;
}

li{
    display: inline;
}

#li1
{
    padding-top: 30px;
    padding-left: 50px;
    color: burlywood;
    font-size: larger;
}
#li2
{
    padding-left: 10px
}

a{
    float: right;
    text-decoration: none;
}

a:link {
    color: wheat;
}
a:visited {
    color: burlywood;

}

a:hover {
    color: white;

}

a:active {
    color: antiquewhite;

}

#img1
{
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

#div2 {
    height: 900px;
    width: 100%;
    border-radius: 10px;
}
#div3 {
    height: 898px;
    width: 20%;
    border-color: goldenrod;
    background-color: goldenrod;
    border-radius: 10px;
    position: absolute;
}
#div4
{
    height:102px;
    width:100%;
    border-radius: 10px;
    background-color: darkgoldenrod;
    text-align: center;
    color: white;
    padding-top: 55px;
    font-family: cursive;
}
#ul1
{
    list-style-type: none;
    padding:90px 40%;

}






.a1
{
    clear:both;
    font-family: cursive;
    font-size: larger;

}
.a1:link {
    color: burlywood;
}
.a1:visited {
    color: brown;

}

.a1:hover {
    color: white;

}

.a1:active {
    color: antiquewhite;

}

.b{
    background: url("images/1.jpg");

    background-size: cover;
    background-repeat: no-repeat;
}

.d{
    height: 1000px;
    width: 1500px;
    margin: 30px 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity:0.6;
    filter:alpha(opacity=60);
}



.pa
{
    margin: 5%;
    font-weight: bold;
    color: #000000;
    font-family: cursive;
}

.h1
{
    font-family: cursive;
    color: black;
    text-align: center;
}

.i{
    margin: 80px;
    padding: 20px;
    border: 1px solid #000000;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

.i img {
    display: inline;
    margin: 5px;
    border: 1px solid #000000;
}

.i a:hover img {
    border: 1px solid brown;
}

.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
.av
{
    padding-top: 80px;
    padding-left:550px;

}
address,h3
{
    text-align: center;
}

#div5
{
    height: 895px;
    width: 79%;

    border-radius: 10px;
    float: right;
    position: absolute;
    /* top: -530px; */
    top: 600px;
    left: 327px;
}

#div6
{
    height: 328px;
    width: 71%;
    background-color: darkgoldenrod;
    position: absolute;
    right: 90px;
    left: 46px;
    top: 70px;
    text-align: center;

}

#i1{
    position: relative;
    top: 480px;
    left: 20px;
    width: 90%;
    height: 300px;

}


iframe {
    -ms-transform:scale(0.70);
    -moz-transform:scale(0.70);
    -o-transform: scale(0.70);
    -webkit-transform: scale(0.70);
    transform:scale(0.70);

}
iframe {
    position: relative;
    top: -52px;
    left: -6px;
    /* right: 888px; */
    height: 1088px;
    width: 1252px;
}

/*#wrapper {
    overflow:hidden;
    border:1px solid orange;
    height:722px;
    width:662px;
}*/

#div7
{
    height: 75px;
    width: 20%;
    background-color: darkgoldenrod;
    border-radius: 10px;

}

#a2
{
    padding:20px;
    padding-right: 40%;
    font-family: cursive;
    font-size: larger;

}
#a2:link {
    color: burlywood;
}
#a2:visited {
    color: brown;

}

#a2:hover {
    color: white;

}

#a2:active {
    color: antiquewhite;

}


fieldset {
    /*display: block;
    margin-left: 2px;
    margin-right: 2px;*/
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

#d{
    border: none;

    width:18%;
    position:relative;
    left:600px;
}

#d1{
    border: none;
    width: 18%;
    position: relative;
    left: 643px;
    bottom: -121px;
}

th,tr{
    text-align: center;
}

table{
    position:relative;
    left:70px;
    border: 2px groove;

}
td{
    border: 2px groove;

}
table.t01 tr:nth-child(even) {
    background-color: cadetblue;
}
table.t01 tr:nth-child(odd) {
    background-color: floralwhite;
}
table.t01 th {
    color: white;
    background-color: black;
}


#d2{
    border: none;
    width: 20%;
    position: relative;
    left: 93px;
    /* bottom: -121px; */
}
